body { 
    background-color: rgb(27, 16, 43) !important;
}

table td {
    color: #ffffff !important;
}

table tr th{
    color: #ffffff !important;
}

.btn {
    color: #ffffff !important;
    border-color: rgb(255, 0, 126) !important;
}

.btn:hover {
    border-color: rgb(255, 0, 126) !important;
    background-color: rgb(255, 0, 126) !important;
}

.btn:focus {
    border-color: rgb(255, 0, 126) !important;
    background-color: rgb(255, 0, 126) !important;
}

